/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', 'Arial Narrow', Arial, sans-serif;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

section{
    padding: 25px 0;
}

h4,
h3,
h2,
h1,
p,
a {
    padding: 10px;
}

p{
    line-height: 30px;
}

h1{
    color:#9792E4;
    font-size: 60px;
    font-weight: 900;
}

h4{
    font-size: 20px;
}

.button{
    padding: 25px 10px;
}

.btn-space{
    letter-spacing: 2px;
}

.btn {
    border-radius: 50px;
    margin: 10px 0;
}

.btn-white{
    padding: 8px 16px;
    background-color: white;
    color: black;
}

.btn-blue{
    padding: 8px 50px;
    background-color:#0084FD;
    color: white;
}

.btn-purple{
    background-color:#9792E4;
    color: white;
    padding: 8px 30px;
}

article a{
    text-decoration: none;
}

.text p, article a{
    margin: 10px 0;
}

/* HEADER */

header{
    height: 70px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:900;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.fa-bars{
    font-size: 25px;
    text-align: right;
    color: white;
}

#list{
    display: none;
}

/* PARTE CENTRALE */

main{
    padding-top: 40px;
}

/* descrizione funzionalità */

#description{
    margin-top: 2rem;
}

.col{
    display: block;
    background-color: #B5DDFF;
    border-radius: 20px;
    margin-bottom: 20px;
}

.center {
    text-align:center;
    font-size: 80px;
}

.text {
    width: 100%;
    margin: 10px;
}


#image-large{
    width: 100%;
    margin-top: 25px;
    position: relative;
}

#image-large img{
    display: table-cell;
    vertical-align: middle;
    max-width: 70%;
    margin: 0 45px;
}

.paragraph{
    font-size: 16px;
    color: rgb(100, 100, 100);
    font-weight:700;
}

.title{
    font-size: 25px;
}

.col > i, .title{
    color:#0084FD;
}

/* seconda sezione */

.coloured {
    background-color:#9792E4;
    color: white;
}

.col-box{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: 20px 0;
}

#planning-image img{
    max-width: 100%;
}

#planning-image > h2{
    font-size: 30px;
}

#development img{
    max-width: 80%;
}

#development{
    background-color: white;
    border-radius: 25px;
    padding: 10px;

}

.app-text{
    color: black;
    text-align: center;
}

#circle-icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #9792E4;
    text-align: center;
    line-height: 30px;
}

.fa-arrow-down{
    color: black;
}

/* sezione profili */

.text-users, .description-user, #title-benefits{
    text-align: center;
    margin: 10px 20px;
}

.text-users > h2{
    color:#9792E4;
    font-size: 35px;
}

.col-user{
    background-color: #9792E4;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px;
    color: white;
}

.description-user{
    padding: 10px;
}

.image-user{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

#Nat{
    background-image: url('../img/testimonial1.jpg');
}

#Celia{
    background-image: url('../img/testimonial2.jpg');
}

#Bob{
    background-image: url('../img/testimonial3.jpg');
}


/* sezione benefici */
#title-benefits{
    font-size: 30px;
}

#benefits a{
    text-decoration: none;
}

#benefits-card, #about-container > p{
    padding: 10px;
    color: #606060;
}

.col-benefits{
    display: block;
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
}

.col-benefits h4{
    color:#9792E4;
}

/* sezione about us */

#about-container, 
#about-image{
    padding: 10px;
}

#quote{
    background-image: url('../img/about.jpg');
    position:relative;
}

#text-about{
    color:#9792E4;
    font-size: 25px;
    font-weight: 900;
}

#text-free{
    color: #FDC15F;
    font-size: 70px;
}

#about-image > div.button a,
#free-container > div.button a {
    text-decoration: none;
}

#about-image>div.button a{
    font-weight: 800;
}

#quote i.fa-quote-left{
    position: absolute;
    right: 0;
    font-size: 50px;
    color:#9792E4;
}

/* sezione free */

#free{
    text-align:center;
}

#free-container{
    padding: 5px 0;
}

#free-container h4,
#free-container h2,
#free-container h1,
#free-container p,
#copyright{
    margin: 15px 0;
}

#free-container > div.button a{
    color:#9792E4;
    font-weight: 800;
    font-size: 20px;
}

#btn-big{
    padding: 20px 50px;
}

/* FOOTER */

footer{
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 12px;
}

footer p{
    padding: 20px 10px;
    line-height: normal;
}

footer a{
    color:#9792E4;
}

/* SEZIONE RESPONSIVE */

/* visualizzazione tablet */

@media all and (min-width:600px) {
    
    /* regola per rendere in flex le card di prima sezione */
    .row-flex{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .col{
        width: calc((100% / 3) - 5px)
    }

    .col-large{
        width: calc((100% / 3)*2)
    }

    /* immagine phone della prima card */
    #image-large img {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        max-width: 60%;
    }

    /* regole per seconda sezione */

    #planning-image{
        display: flex;
        align-items: flex-start;
    }


    /* regole per card dei profili */
    .description-user{
        width: 80%;
    }

    .object-user{
        width: 20%;
    }

    .col-user{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    div.description-user{
        text-align:left;
    }

    /* regole per card benefici */

    #benefits-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .col-benefits{
        width: calc((100% / 2) - 15px);
        margin-top: 10px;
    }

    /* regole per rendere flex il contenuto
    nella sezione about us */

    #about-flex{
        display: flex;
    }

    #about-container{
        width: 70%;
    }

    #about-image {
        width: 30%;
    }

    #about-image > .button a{
        font-size: 13px;
    }

    /* restringimento della sezione free */
    #free .container{
        width: 50%;
    }

    /* restringimento del footer */

    footer .container{
        width: 50%;
    }
    
}

/* visualizzazione desktop */

@media all and (min-width:1025px) {

    /* restringimento header */

    header .container{
        width: 70%;
    }

    /* scomparsa hamburger nell'header */
    header .fa-bars {
        display: none;
    }

     /* regola per l'apparizione menu navigazione a lato */
    #list{
        display: block;
    }

    #list ul{
        display: flex;
        list-style-type: none;
    }

    #list ul li a{
        text-decoration: none;
    }

    #list li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
    }

    #list .menu-list a{
        color: white;
    }

    /* restringimento della prima sezione */
    #description .container {
        width: 70%;
    }

    /* contenuto card in flex delle seconda sezione */
    .box {
        display: flex;
        gap: 40px;
    }

    #development{
        margin-top: 200px;
    }

    #planning-image > h2, #planning-image > article{
        margin: 10px 0;
    }

    #planning-image img{
        padding: 20px 0;
    }
    
    /* immagine phone della prima card */
    #image-large{
        margin-top: 70px;
        display: flex;
        align-items: flex-end;
    }

    #image-large img {
        max-width: 80%;
    }

    /* restringimento della seconda sezione */
    #planning .container{
        width: 60%;
    }

    /* restringimento della sezione profili e sezione about us */
    #section-users .container, #about .container {
        width: 70%;
    }

    /* regola per visualizzare le cards dei benefici
    in file da tre */

    .col-benefits {
        width: calc((100% / 3) - 20px);
        margin: 10px 0;
    }

    /* restringimento sezione benefici */
    #benefits .container{
        width: 70%;
    }
}

/* schermi più grandi */

@media all and (min-width:1200px) {
    
    /* regole per card dei profili */
    .description-user {
        width: 85%;
    }
    
    .object-flex {
        width: 15%;
    }
}